<div class="row">
  <div class="span12 text-center dropdown nogutter">

    <h2>Transcodable Media</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>File</th>
          <th>Size</th>
          <th>Status</th>
          <th>Started</th>
          <th>Finished</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%- @data.files.each do |file| %>
          <tr>
            <td><%= file.filename %></td>
            <td><%= file.size %></td>
            <td><%= file.status.description %></td>
            <td><%= file.started_processing_at %></td>
            <td><%= file.finished_processing_at %></td>
            <td class="span1">
              <%- if file.status.changeable? %>
                <div class="btn-group pull-right" data-file="<%= file.file.to_s %>" data-media-file-id="<%= file.media_file.id %>">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <%- if file.status.enqueued? %>
                      <li><a href="#" class="cancel-transcode">Cancel Transcode</a></li>
                    <%- else %>
                      <li><a href="#" class="transcode">Transcode</a></li>
                    <%- end %>
                  </ul>
                </div>
              <%- end %>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>

  </div>
</div>

<script type="text/javascript">
  window.bootstrapData = <%= @data.bootstrap_data %>;
</script>
